<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h2 class="mt-3">Create New Listing</h2>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          required
        />
        <!-- <div class="valid-feedback">Looks good!</div> -->
        <div class="invalid-feedback">Enter a valid title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder=""
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Enter a valid description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          name="listing[image]"
          placeholder="Enter image url or link"
          type="text"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="3999"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid Price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid Country name</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Jaipur, Rajasthan"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a valid location</div>
      </div>

      <button class="btn btn-dark mb-3 add-btn">add</button>
    </form>
  </div>
</div>
